*{
  padding: 0;
  margin: 0;
}
/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #343434; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #01E6FF; 
}

/* colors */
.btn{
  border-radius: 8px;
  border: none;
  padding: 12px 40px;
  background-color: #01E6FF;
  color: #232323;
  font-weight: 800;
  font-size: 14px;
  cursor: pointer;
  margin: 40px 0;
}
.btn-soon {
  background-color: #EE3636;
  color: #fff;
  font-weight: 500;
  cursor: default;
}

body{
  text-align: center;
  font-family: poppins;
  background-color: #232323;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
nav {
  
  font-weight: 400;
}
nav ul {
  list-style:  none;
  display: flex;
  margin-left: 70px;
}

.nav {
  color: white;
  text-decoration: none;
  padding: 10px;
}

/* home header */

.header {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header >div{
  width: 50%;
}
.header small {
  color: #707070;
}
.header h1{
  color: #01E6FF;
  font-size:72px;
}
.header > img{
  height: 550px;
  
}
.shape1{
  position: absolute;
  top: 50px;
  right: 0;
  z-index: -9999;
  width: 500px;
}
.shape2{
  position: absolute;
 
  left: 0;
  z-index: -9999;
  width: 500px;
}

/* featured item section */
.dashed-circle{
  height:400px;
  width:400px;
  border: dashed 3px #01E6FF;
  border-radius: 100%;
  position: absolute;
  z-index: -9999;
  animation: rotation 50s infinite linear;
}
.featured{
  display: flex;
  justify-content: center;
  margin:50px 0;
}
.featured h1{
  color: #707070;
  font-size:102px;
  margin-left: 25px;
  text-align: left;
}
.featured-card{
  text-align: left;
  display: flex;
  align-items: center;
  width: 500px;
  height: 300px;
  background-color: #343434;
  border-radius: 8px;

}
.featured-card img{
  border-radius: 8px 0 0 8px;
  background-color: #01E6FF;  
  height:100%;
  width: 50%;
  object-fit: cover;
}
.featured-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured-title strong {
  font-size:32px;
}
.featured-title small{
  background-color: #6A12A4;
  padding: 3px 20px;
  border-radius: 25px;
  margin-right: 15px;
}
.featured-description{
  margin-left: 10px;
}
.featured-description p {
  color: #707070;
}

/* shop and cards */
#Shop {
  margin: 0;
  padding: 60px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  row-gap:20px;
}

.shop-title {
  font-size: 102px;
  color: #01E6FF;
  font-weight:700;  
}
.shop-item-description{
  padding: 0 5px;
  height:200px;
  background-color: #343434;
  border-radius: 8px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
#shopItem{
  min-width: 15vw;
  min-height: 20vw;
  color: #e3defe;

}
#shopItem:hover > img {
  background-color: #01E6FF;

}
#shopItem img{
transition: all 0.5s ease;
height: 15vw;
transform: translateY(40px);
border: 2px #01E6FF solid;
border-radius:100%;
}

.shop-item-name{
  color: #e3defe;
  font-size:24px;
  text-decoration: none;
}
/* item details */
.item-details-card {
  display: flex;
  background-color: #343434;
  align-items: center;
  border-radius: 8px;
  width: 70%;
  margin: 50px auto;
  text-align: left;
  padding: 20px;
}
.item-details-card img {
  height:400px;
  background-color: #01E6FF;
  border-radius: 8px;
}
.item-details-description {
  margin: 10px;
}
.item-highlight{
  background-color: #6A12A4;
  padding: 3px 20px;
  border-radius: 25px;
  margin-right: 15px;
}
/* el  fooooter */
footer{
  color: #707070;
  text-align: center;
  padding: 10px 0;
}
/* animations */
.float {
  animation: float 6s ease-in-out infinite;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
.rotation{
  animation: rotation 50s infinite linear;
}
@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}